@import '../../styles/variables.scss';
@import '../../styles/palette.scss';

.header,
.blur {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 spacing(10);
	transition: 0.3s;
	z-index: 2;
}

.header {
	height: spacing(14);
}

.blur {
	height: spacing(11);
	background-color: rgba($color: #000000, $alpha: 0.2);
}

.ul {
	display: flex;
	align-items: center;
}

.li {
	position: relative;
	margin: 0 spacing(3);
	font-weight: 700;
	font-size: spacing(1.6);
	letter-spacing: spacing(0.1);
	text-transform: uppercase;
	list-style: none;
	color: $customWhite;
	transition: 0.3s;
}

.li::before,
.li::after {
	content: '';
	position: absolute;
	width: spacing(0);
	bottom: spacing(-0.5);
	border-bottom: spacing(0.2) solid $customWhite;
	transition: 0.3s;
}

.li::before {
	right: 50%;
}

.li::after {
	left: 50%;
}

.li:hover::before,
.li:hover::after {
	width: 50%;
}

.li::after:nth-last-child(0),
.li::before:nth-last-child(0) {
	left: 0;
	right: 0;
}

.iconFacebookContainer {
	padding: 0 spacing(3);
	list-style: none;
}

.iconFacebook {
	transition: 0.3s;
}

.iconFacebook:hover {
	filter: invert(1);
}

.logo {
	width: 100%;
	max-width: spacing(8);
	margin: spacing(2) 0;
	transition: 0.3s;
}

.logoScroll {
	width: 100%;
	max-width: spacing(6);
	margin: spacing(1) 0;
	transition: 0.3s;
}

.logo:hover,
.logoScroll:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.active {
	padding-bottom: spacing(0.3);
	border-bottom: spacing(0.2) solid $customWhite;
}
