@import '@/styles/variables.scss';
@import '@/styles//palette.scss';

.popup {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(spacing(1));
}

.containerPopup {
	position: relative;
	max-width: 80%;
	max-width: 80%;
}

.popup__img {
	width: 100%;
	height: 100%;
	max-width: spacing(60);
	max-height: spacing(60);
	border-radius: spacing(2);
	border: spacing(0.2) solid $burgund;
}

.popup__close {
	position: absolute;
	top: -3%;
	right: -3%;
	padding: spacing(0.5) spacing(1);
	color: black;
	font-size: spacing(2.4);
	border-radius: 50%;
	background-color: #fff;
	border: spacing(0.2) solid black;
	cursor: pointer;
}
