@import '@/styles/variables.scss';
@import '@/styles//palette.scss';

.sponsorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $dark;
  padding: spacing(4);
  z-index: 0;

  @include down(md) {
    padding: spacing(2);
  }
}

.sponsorImg {
  width: 100%;
  height: 100%;
  max-width: spacing(30);
  max-height: spacing(20);
  padding: spacing(2) spacing(3);
  transition: 0.3s;
  cursor: pointer;

  @include down(md) {
    max-width: spacing(20);
    max-height: spacing(15);
  }
}

.sponsorImg:hover {
  transform: scale(1.1);
}
