@import '@/styles/variables.scss';
@import '@/styles//palette.scss';

.footerContainer {
	background-color: $dark;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.burgundLineContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.burgundLine {
	width: 100%;
	height: spacing(0.2);
	margin: 0 0 spacing(2);
	background-color: $burgund;
}

.informations {
	width: 100%;
	max-width: $maxWidth;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: spacing(1) spacing(4) spacing(1);

	@include down(md) {
		padding: spacing(1) spacing(2) spacing(1);
	}

	@include down(sm) {
		padding: spacing(1);
		margin-bottom: spacing(0.5);
	}
}

.text {
	font-size: spacing(1.2);
	color: $customWhite;

	@include down(sm) {
		font-size: spacing(0.8);
	}
}

.copyright {
	font-size: spacing(1.6);
	color: $customWhite;
	font-weight: bold;

	@include down(md) {
		font-size: spacing(1.4);
	}

	@include down(sm) {
		font-size: spacing(0.8);
	}
}

.boldText {
	font-weight: bold;
}
