@import '@/styles/variables.scss';
@import '@/styles//palette.scss';

.newsSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: spacing(4) 0;
	background-color: $dark;

	@include down(md) {
		padding: spacing(2) 0;
	}
}

.textNews {
	width: 100%;
	font-size: spacing(3.2);
	color: $customWhite;
	text-align: center;
	text-transform: uppercase;

	@include down(md) {
		font-size: spacing(2.4);
		padding-bottom: spacing(1);
	}

	@include down(sm) {
		font-size: spacing(1.8);
	}
}

.containerNews {
	width: 100%;
	max-width: $maxWidth;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	@include down(md) {
		flex-direction: column;
	}
}

.news {
	margin: spacing(4);
	cursor: pointer;
	font-size: 0;

	&:hover {
		transform: scale(1.05);
	}
}

.newsImg {
	width: 100%;
	max-width: spacing(60);
	border-radius: spacing(2);

	@include down(md) {
		max-width: spacing(40);
	}
}

.newsShadow {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: spacing(2);
	border: spacing(0.2) solid $burgund;
}

.newsText {
	position: absolute;
	bottom: 0;
	left: 0;
}

.newsHeading {
	padding: spacing(0.5) spacing(1);
	font-weight: bold;
	font-size: spacing(1.8);

	@include down(xl) {
		font-size: spacing(1.6);
	}
}

.newsDate {
	padding: spacing(0.5) spacing(1);
	font-size: spacing(1.2);
}
